<%- include("header") -%>
<h1>Contact</h1>

<p><%=  ContactContent   %></p> <br> <br>
<i class="fab fa-linkedin"></i><a class="footer-link" href="https://www.linkedin.com/in/bushra-shireen-636b381b9/">  LinkedIn</a> <br>
<i class="fab fa-facebook-f"></i><a class="footer-link" href="https://www.facebook.com/bushra.shireen.12/">  Facebook</a> <br>
<i class="fab fa-instagram"></i><a class="footer-link" href="https://www.instagram.com/_bushra_shireen_/">   Instagram</a> <br>

<%- include("footer") -%>
